body{
    background-color: black;
    text-align: center;
    margin: 30px;
    border: 10px whitesmoke;
}
h1{
    color: whitesmoke;
    text-align: center;
}

h2{
    color: whitesmoke;
    text-align: center;
}